div{
    display: flex;
    grid-template-columns: 50px 50px;
    flex-direction: column;
    background-color: rgb(255, 47, 47);
    width: 400px;
    height: 500px;
    flex-wrap: nowrap;
    overflow: auto;
}

img {
    width: 100px;
    height: 80px;
}